.free
  background-color: white

.machine
  background-color: grey

.blocked
  background-color: black
  color: white
.container
  width: 100%
  height: 100%
  padding: 22px 0px
  p
    text-align: center
    margin: 0px

