<p>Buffer CapStation!</p>
<form [formGroup]="form" (ngSubmit)="submit()">
  <formly-form [model]="model" [fields]="fields" [form]="form"></formly-form>
  <button type="submit" mat-raised-button color="primary">Submit</button>
</form>
